<a href="https://colab.research.google.com/github/kunalbhoria1/kunalbhoria1-Python-machinelearning/blob/main/python_mastery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 print statement
print ("HEllo Python")

In [ ]:
#2 addition
num1 = int(input("Enter first integer:"))
num2 = int(input("Enter second integer:"))
sum = num1 + num2
print(f"{num1} + {num2} = {sum}")

Enter first integer:5
Enter second integer:6
5 + 6 = 11

In [ ]:
#2 division
num1 = float(input("Enter first number: "))
num2 = float(input("Enter the second number: "))
if num2 == 0 :
  printf("Division by zero error")
else:
  result = num1 / num2
  print(f"{num1} / {num2} = {result}")

In [ ]:
#3 area of triangle
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = 0.5 * base * height
print (f"area of triangle is {area}")

In [ ]:
#4 python program to swap two number
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
print (f"Before swapping: a = {a}, b = {b}")
temp = a
a = b
b = temp
print(f"After swapping: a = {a}, b = {b}")

In [ ]:
#5 random number
import random
print (f"Random number: {random.randint(1,100)}")

Random number: 32

In [ ]:
#6 python program to convert kilometer to miles
kilometer = int(input("Enter distance in kilometer: "))
miles = kilometer * 0.621371

print (f"{kilometer} kilometer is equal to {miles} miles")

Enter distance in kilometer: 100
100 kilometer is equal to 62.137100000000004 miles

In [ ]:
#7 celsius to fahrenheit
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} celsius is equal to {fahrenheit} fahrenheit")

Enter temperature in celsius: 96
96.0 celsius is equal to 204.8 fahrenheit

In [ ]:
#8 print calendar
import calendar
month = int(input("Enter the month: "))
year = int(input("Enter the year: "))
cal = calendar.month(year,month)
print (cal)

Enter the month: 9
Enter the year: 2003
   September 2003
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [ ]:
#9 Python program to solve quadratic equation.
import math
a = int(input("Enter the coeffiecient a: "))
b = int(input("Enter the coeffiecient b: "))
c = int(input("Enter the coeffiecient c: "))

#find discriminant
discriminant = b**2 - 4*a*c

#check for discriminant value : positive, zero, negative
if discriminant > 0 :
  root1 = (-b + math.sqrt(discriminant)) / 2*a
  root2 = (-b - math.sqrt(discriminant)) / 2*a
  print (f"root1 = {root1} and root2 = {root2}")

elif discriminant == 0:
  root = -b / 2*a
  print (f"root = {root}, {root} ")

else:
  real_root = -b / 2*a
  imaginary_root = math.sqrt(abs(discriminant)) / 2*a
  print (f"root1 = {real_root} + {imaginary_root}i")
  print (f"root2 = {real_root} - {imaginary_root}i")

Enter the coeffiecient a: 1
Enter the coeffiecient b: 4
Enter the coeffiecient c: 8
root1 = -2.0 + 2.0i
root2 = -2.0 - 2.0i

In [ ]:
#10 swap two variables without temp variable
a = 5
b = 10

print(f"before swap a = {a} and b = {b}")

a, b = b, a

print(f"after swap a = {a} and b = {b}")

before swap a = 5 and b = 10
after swap a = 10 and b = 5

In [ ]:
#11 Check if a Number is Positive, Negative or Zero
num = float(input("Enter a number:"))
if num > 0:
  print("Positive")
elif num == 0:
  print ("Zero")
else:
  print("Negative")

Enter a number:-8.99
Negative

In [ ]:
#12 Check if a Number is Odd or Even
num = int(input("Enter a number:"))
if num % 2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number:8
Even

In [ ]:
#13 Check Leap Year
year = int(input("Enter a year:"))
#century year
if year % 100 == 0 and year % 400 == 0:
  print("Leap year")
#non century year
elif year % 100 != 0 and year % 4 == 0:
  print("Leap year")
else:
  print("Not a leap year")

Enter a year:2025
Not a leap year

In [ ]:
#14 Python Program to Check Prime Number
num = int(input("Enter a number:"))
if (num <=1) :
  print("Not Prime")
elif (num == 2 or num == 3) :
  print("Prime")
elif (num % 2 == 0 or num % 3 == 0) :
  print("Not Prime")
else:
  print("Prime")

Enter a number:-5
Not Prime

In [ ]:
#15 Print all Prime Numbers in an Interval of 1-10
lower = 1
upper = 10
print ("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
  if num > 1:
    for i in range(2,num):
      if num % i == 0:
        break
    else:
      print (num)

Prime numbers between 1 and 10 are:
2
3
5
7

In [ ]:
#16 Find the Factorial of a Number
num = int(input("Enter a number:"))
fact = 1
if num < 0:
  print("Factorial does not exist")
elif num == 0:
  print("Factorial of 0 is 1")
else:
  for i in range(1,num+1):
    fact *= i
print (fact)

Enter a number:6
720

In [ ]:
#17 Display the multiplication Table
num = int(input("Enter a number:"))
for i in range (1, 11):
  print(f"{num} X {i} = {num*i}")

Enter a number:7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [ ]:
#18 Print the Fibonacci sequence
terms = int(input("Enter the number of terms:"))
n1 = 0
n2 = 1
if terms <= 0:
  print("Invalid input")
elif terms == 1:
  print(n1)
else:
  print ("Fibonacci Sequence: ")
  count = 0
  while count < terms:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1

Enter the number of terms:10
Fibonacci Sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
#19 Check Armstrong Number
num = int(input("Enter a number:"))
temp = num
sum = 0
n = len(str(num))
while temp > 0:
  digit = temp % 10
  sum += digit ** n
  temp = temp // 10
if num == sum:
  print(f"{num} is an armstrong number")
else:
  print(f"{num} is not an armstrong number")

Enter a number:154
154 is not an armstrong number

In [ ]:
#20 Find Armstrong Number in an Interval
lower = int(input("Enter lower limit:"))
upper = int(input("Enter upper limit:"))
print("Armstrong numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
  temp = num
  sum = 0
  n = len(str(num))
  while temp > 0:
    digit = temp % 10
    sum += digit ** n
    temp = temp // 10
  if num == sum:
    print(num)

Enter lower limit:100
Enter upper limit:500
Armstrong numbers between 100 and 500 are:
153
370
371
407

In [ ]:
#21 Find the Sum of Natural Numbers
terms = int(input("Enter the number of terms:"))
if terms <= 0:
  print("Invalid input")
else:
  sum = 0
  for i in range(1,terms + 1):
    sum += i
  print(sum)

Enter the number of terms:10
55

In [ ]:
#22 Python Program to Find LCM